<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Personel</strong> Kayıt Formu
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <input type="hidden" name="id" id="id" [(ngModel)]="staff.id">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="identityNumber">T.C. Kimlik Numarası</label>
              <div class="col-md-9">
                <input type="number" id="identityNumber" [(ngModel)]="staff.identityNumber" 
                name="identityNumber" maxlength="11" class="form-control" placeholder="T.C. Kimlik Numarası">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">Adı</label>
              <div class="col-md-9">
                <input type="text" id="name" name="name" [(ngModel)]="staff.name" class="form-control" placeholder="Personelin Adı" 
                >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="surname">Soyadı</label>
              <div class="col-md-9">
                <input type="text" id="surname" name="surname" class="form-control" [(ngModel)]="staff.surname" placeholder="Personelin soyadı">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="gsm">Gsm</label>
              <div class="col-md-9">
                <input type="text" id="gsm" name="gsm" class="form-control" [(ngModel)]="staff.gsm" 
                placeholder="Gsm">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="address">Adres</label>
              <div class="col-md-9">
                <input type="text" id="address" name="address" class="form-control" [(ngModel)]="staff.address" 
                placeholder="Adres">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email">E-Posta</label>
              <div class="col-md-9">
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="staff.email" 
                placeholder="E-Posta Adresi">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="birthDay">Doğum Tarihi</label>
              <div class="col-md-9">
                <input type="date" name="birthDate" id="birthDate" #birthDate
                class="form-control" [value]="staff.birthDate | date:'yyyy-MM-dd'" 
                (input)="staff.birthDate = parseDate($event.target.value)" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="staffTypeId">Personel Türü</label>
              <div class="col-md-9">
                <select name="staffTypeId" id="staffTypeId" [(ngModel)]="staff.staffTypeId" 
                class="form-control">
                  <option value="0">Lütfen personel türünü seçiniz</option>
                  <option *ngFor="let item of staffTypes" value="{{item.id}}">
                    {{item.staffTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="salaryTypeId">Maaş Tipi</label>
              <div class="col-md-9">
                <select name="salaryTypeId" id="salaryTypeId" [(ngModel)]="staff.salaryTypeId" 
                class="form-control">
                  <option value="0">Lütfen maaş tipini seçiniz</option>
                  <option *ngFor="let item of salaryTypes" value="{{item.id}}">
                    {{item.salaryTypeName}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label
                class="col-md-3 col-form-label"
                for="salaryAmount"
                >Ödeme Tutarı</label
              >
              <div class="col-md-9">
                <input
                  type="number"
                  id="salaryAmount"
                  [(ngModel)]="staff.salaryAmount"
                  name="salaryAmount"
                  class="form-control"
                />
              </div>
              </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="workStarDateTime">İşe Başlama Tarihi</label>
              <div class="col-md-9">
                <input type="date" name="workStarDateTime" id="workStarDateTime" #workStarDateTime
                 class="form-control" [value]="staff.workStarDateTime | date:'yyyy-MM-dd'" 
                 (input)="staff.workStarDateTime = parseDate($event.target.value)" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="workFinishDateTime">İşten Ayrılma Tarihi</label>
              <div class="col-md-9">
                <input type="date" name="workFinishDateTime" id="workFinishDateTime" #workFinishDateTime
                 class="form-control" [value]="staff.workFinishDateTime | date:'yyyy-MM-dd'" 
                 (input)="staff.workFinishDateTime = parseDate($event.target.value)" >
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="branchId">Şube</label>
              <div class="col-md-9">
                <select name="branchId" id="branchId" [(ngModel)]="staff.branchId" 
                class="form-control">
                  <option value="0">Lütfen şube seçiniz</option>
                  <option *ngFor="let item of branches" value="{{item.id}}">
                    {{item.branchName}}</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" (click)="add()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> {{buttonText}}</button>
          <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Vazgeç</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
    <div class="col-md-12">
      <div class="card-header">
        <strong>Personel Listesi</strong> 
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Vatandaşlık Numarası</th>
              <th>Adı Soyadı</th>
              <th>Gsm</th>
              <th>Personel Türü</th>
              <th>Maaş Tipi</th>
              <th>E-Posta</th>
              <th>Giriş Tarihi</th>
              <th>Çıkış Tarihi</th>
              <th>Doğum Tarihi</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of pageOfItems">
              <td>{{item.identityNumber}}</td>
              <td>{{item.name}} {{item.surname}}</td>
              <td>{{item.gsm}}</td>
              <td>{{item.staffTypeName}}</td>
              <td>{{item.salaryTypeName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.workStarDateTime | date: 'dd/M/yyyy'}}</td>
              <td>{{item.workFinishDateTime | date: 'dd/M/yyyy'}}</td>
              <td>{{item.birthDay}}</td>
              <td>
                <a (click)="getDetailFromTable(item)" title="Detay">Detay</a>
                <a (click)="remove(item.id)" title="Sil">Sil</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="staffList" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>

