<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="col-md-12">
        <div class="card-header">
          <strong>Borçlu Cari Hesap Listesi</strong>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Adı</th>
              <th>Nakit Borç</th>
              <th>Taksitli/Vadeli Borç</th>
              <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pageOfItemTransactions">
              <td>{{item.name}} {{item.surname}}</td>
              <td>{{item.cashDebt}}</td>
              <td>{{item.installmentDebt}}</td>
              <td>
                <button *ngIf="item.cashDebt > 0" (click)="getCollection(item)" type="button" class="btn btn-success">Vadesiz Tahsilat</button>&nbsp;
                <button *ngIf="item.installmentDebt > 0 || item.cashDebt > 0" (click)="getInstallment(item)" type="button" class="btn btn-info">Taksitlendir</button>&nbsp;
                <button *ngIf="item.installmentDebt > 0" (click)="openInstallmentItems(item)" type="button" class="btn btn-warning">Taksit Ödeme</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items]="generalDebts" (changePage)="onChangeTransactionPage($event)"></jw-pagination>
      </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="col-md-12">
        <div class="card-header" style="margin-top: 5px;">
          <strong>Detaylı</strong> Arama Formu
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-2">
              <label for="transactionTypeId">Kasa</label>
              <select name="cashBoxId" class="form-control" [(ngModel)]="filter.cashBoxId">
                <option value="0">Seçiniz</option>
                <option value="{{item.id}}" *ngFor="let item of cashBoxes">{{item.cashBoxName}}</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="educatorId">Müşteri</label>
              <select name="educatorId" class="form-control" [(ngModel)]="filter.customerId">
                <option value="0">Seçiniz</option>
                <option value="{{item.id}}" *ngFor="let item of customers">{{item.name}} {{item.surname}}</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="dateValue">Başlama Tarihi</label>
              <ejs-datepicker #date (change)="onDateChange()" format='yyyy-MM-dd' placeholder='Enter date' [value]=dateValue></ejs-datepicker>
            </div>
            <div class="col-md-3">
              <label for="ednDateValue">Bitiş Tarihi</label>
              <ejs-datepicker #endDate (change)="onEndDateChange()" format='yyyy-MM-dd' placeholder='Enter date' [value]=endDateValue></ejs-datepicker>
            </div>
            <div class="col-md-2">
              <label for=""></label>
              <input type="button" style="margin-top: 25px;" class="btn btn-info" value="Kriterlere Göre Ara" (click)="getWithFilter()">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card">
      <div class="col-md-12">
        <div class="card-header">
          <strong>Tahsilat Listesi</strong>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Adı</th>
              <th>Kasa</th>
              <th>İşlem Zamanı</th>
              <th>İşlemi Yapan</th>
              <th>Tahsilat Tutarı</th>
              <th>Açıklama</th>
              <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pageOfItems">
              <td>{{item.name}} {{item.surname}}</td>
              <td>{{item.cashBoxName}}</td>
              <td>{{item.createdAt | date: 'dd/M/yyyy H:mm'}}</td>
              <td>{{item.createdByName}}</td>
              <td>{{item.collectionAmount}}</td>
              <td>{{item.description}}</td>
              <td>
                <a title="Detay">Detay</a> || 
                <a title="Sil">Sil</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Toplam Tahsilat :{{totalCollection}}</td>
                <td></td>
                <td>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items]="deptCollectionList" (changePage)="onChangePage($event)"></jw-pagination>
      </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>
