<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5>Kategori Tanımları</h5>
          <p>
            Birlikte firmanızın kurulum ayarlarını gerçekleştirelim. Öncelikle
            hizmetlerinizin kategorilerini olşuturalım
          </p>
          <p>Örnek Spor, Müzik, Yoga, Yabancı Dil Eğitimi</p>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <input type="hidden" name="id" id="id" [(ngModel)]="category.id" />
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="categoryName">Kategori Adı</label>
              <div class="col-md-9">
                <input type="text" id="categoryName" [(ngModel)]="category.categoryName" name="categoryName"
                  class="form-control" />
              </div>
            </div>
          </form>
          <div class="card-footer">
            <button type="submit" (click)="add()" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> {{ buttonText }}
            </button>
            <button type="reset" (click)="reset()" class="btn btn-sm btn-danger">
              <i class="fa fa-ban"></i> Vazgeç
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="col-md-12">
          <div class="card-header">
            <strong>Kategori Listesi</strong>
          </div>
          <div class="card-body">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Kategori Adı</th>
                  <th>İşlemler</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pageOfItems">
                  <td>{{ item.categoryName }}</td>
                  <td>
                    <button class="btn btn-info" (click)="getDetailFromTable(item)" title="Detay">
                      Detay</button>&nbsp;
                    <button class="btn btn-danger" (click)="remove(item.id)" title="Sil">
                      Sil
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer pb-0 pt-3">
            <jw-pagination [items]="categories" (changePage)="onChangePage($event)"></jw-pagination>
          </div>
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
  </div>
</div>