<div class="step-template">
  <div *ngIf="step.stepIndex == 1">
    <app-create-category></app-create-category>
  </div>
  <div *ngIf="step.stepIndex == 2">
    <app-create-sub-category></app-create-sub-category>
  </div>
  <div *ngIf="step.stepIndex == 3">
    <app-create-lesson></app-create-lesson>
  </div>
  <div *ngIf="step.stepIndex == 4">
    <app-create-classroom></app-create-classroom>
  </div>
  <div *ngIf="step.stepIndex == 5">
    <app-create-educator></app-create-educator>
  </div>
  <div *ngIf="step.stepIndex == 6"></div>
  <div *ngIf="step.stepIndex == 7"></div>
  <button class="step-complete-btn" (click)="onCompleteStep()">
    <span class="completed-step-check material-icons">
      {{ step.isComplete ? "check_circle" : "panorama_fish_eye" }} </span>Complete Step {{ step.stepIndex }}
  </button>
</div>
