<div class="wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <img src="../../../assets/img/login_register.jpg" style="width: 100%;" alt="Register">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card" style="margin-top: 50px;">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">TIMEMULA</h4>
                  </div>
                  <div class="card-body">
                    <form>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">E-Posta Adresiniz</label>
                            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="user.email"
                              required>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label class="bmd-label-floating">Parolanız</label>
                            <input type="password" class="form-control" name="password" id="password"
                              [(ngModel)]="user.password" required>
                          </div>
                        </div>
                      </div>
                      <button type="button" (click)="login()" class="btn btn-primary pull-right">Giriş</button>
                      <button type="button" (click)="register()" class="btn btn-success pull-left">Hesap
                        Oluştur</button>
                      <div class="clearfix"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>