#exampleModal{
    left: 10%;
    width: 85%;
    position: absolute;
    height: auto;
}

#classroomModal{
    left: 10%;
    width: 85%;
    position: absolute;
    height: auto;
}

#teacherModal{
    left: 10%;
    width: 85%;
    position: absolute;
    height: auto;
}