<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="col-md-12">
        <button type="button" style="margin-top: 10px; margin-bottom: 10px;" class="btn btn-warning" (click)="openGeneralDialog()" value="Genel Gider Girişi">Genel Gider Girişi</button>
        <div class="card-header">
          <strong>Alacaklı Cari Hesap Listesi</strong>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Adı</th>
              <th>Borç</th>
              <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pageOfItemTransactions">
              <td>{{item.currentAccount}}</td>
              <td>{{item.currentBalance}}</td>
              <td>
                <a (click)="getDetailTransaction(item)" title="Detay">Detay</a> || 
                <a title="Ödeme" (click)="getCollection(item)">Ödeme</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items]="transactionList" (changePage)="onChangeTransactionPage($event)"></jw-pagination>
      </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="col-md-12">
        <div class="card-header">
          <strong>Ödeme Listesi</strong>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Firma Adı</th>
              <th>Kasa</th>
              <th>İşlem Zamanı</th>
              <th>İşlemi Yapan</th>
              <th>Ödeme Tutarı</th>
              <th>Açıklama</th>
              <th>İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of pageOfItems">
              <td>{{item.companyName}}</td>
              <td>{{item.cashBoxName}}</td>
              <td>{{item.createdAt}}</td>
              <td>{{item.createdByName}}</td>
              <td>{{item.paymentAmount}}</td>
              <td>{{item.description}}</td>
              <td>
                <a title="Detay">Detay</a> || 
                <a title="Sil">Sil</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Toplam Ödeme :{{totalPayment}}</td>
                <td></td>
                <td>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination [items]="paymentList" (changePage)="onChangePage($event)"></jw-pagination>
      </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>
