<h5>{{educatorName}} - Derse Katılan Öğrenciler</h5>
<mat-form-field appearance="standard">
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Adı Soyadı..." #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort #programSort="matSort">

    <ng-container matColumnDef="educatorName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Eğitmen</th>
      <td mat-cell *matCellDef="let row"> {{row.staff.name}} {{row.staff.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="classromName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sınıf</th>
      <td mat-cell *matCellDef="let row"> {{row.classroom.classromName}}</td>
    </ng-container>

    <ng-container matColumnDef="artPackageName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paket Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.artPackage.artPackageName}} </td>
    </ng-container>

    <ng-container matColumnDef="lessonName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ders Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.lesson.lessonName}} </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarih</th>
      <td mat-cell *matCellDef="let row"> {{row.startDate}} </td>
    </ng-container>

    <ng-container matColumnDef="educatorId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> İşlemler </th>
      <td mat-cell *matCellDef="let row">
        <button (click)="getCost(row)" class="btn btn-warning" value="Hakediş">Hakediş Yansıt</button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aradığınız kriterlere uygun kayıt bulunamadı "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #programPaginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<h5>Yapılan Ödemeler</h5>
<mat-form-field appearance="standard">
  <mat-label>Filtre</mat-label>
  <input matInput (keyup)="applyFilterCosts($event)" placeholder="Adı Soyadı..." #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="costDataSource" matSort #costSort="matSort">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adı Soyadı</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} {{row.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ders Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.cost}} TL</td>
    </ng-container>

    <ng-container matColumnDef="lessonName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ders Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.lessonName}} / {{row.artPackageName}} </td>
    </ng-container>

    <ng-container matColumnDef="cashBoxName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İlgili Kasa Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.cashBoxName}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İşlem Zamanı</th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'dd/M/yyyy hh:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Açıklama</th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> İşlemler </th>
      <td mat-cell *matCellDef="let row">
        <button class="btn btn-warning" value="Detay">Detay</button>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="costDisplayColums"></tr>
    <tr mat-row *matRowDef="let row; columns: costDisplayColums;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aradığınız kriterlere uygun kayıt bulunamadı "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginatorCosts [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  <p>Toplam Ödeme : {{totalCost}} TL</p>
</div>
