.col-lg-2 .small-box h3, .col-md-2 .small-box h3, .col-xl-2 .small-box h3 {
     font-size: 1.2rem; 
}

table{
     width: 100%;
     font-size: small;
}
p{
     font-size: small;
}

a{
     font-size: small;
}

h3{
     font-size: unset;
}